body {
  margin: 0 auto;
  padding: 0;

  /* top, transparent black, faked with gradient */
  background: linear-gradient(rgba(250, 250, 250, 0.9), rgba(250, 250, 250, 0.9)), url("./images/fondo.jpg") no-repeat center center fixed;

  -webkit-background: cover;
  -moz-backgound: cover;
  -o-background: cover;
  background: cover;
}
